
/*index.css  初始化代码*/
body,
div,
p,
ul,
li,
a,
input,
b,
strong,
img,
span,
i,
em,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

input,
textarea {
    border: 0 none;
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: 0 none;
}

b,
strong,
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

i,
em {
    font-style: normal;
}


body {
    font:  12px/100% '微软雅黑';
    /*background-color: ;*/
    /*background: url("../imgs/index/bgcccc.jpg");*/
    /*background-color: red;*/
    /*先默认让它为灰色 */
}

/*清除浮动*/
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

html {
overflow: hidden;

}

body {
    width: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

/*css 代码 */

/*header 头部的代码*/
.header {
    height: 85px;
    /*width: 100%;*/
    overflow: hidden;
    /*由于头部需要固定，所以使用了固定定位*/
    position: fixed;
    /*background-color: pink;*/

    z-index: 20;
    /*zoom: 1;*/
}

.header h1 {
    /*float: left;*/
    width: 117px;
    height: 55px;
    /*float: left;*/
    /*z-index: 20;*/
    /*overflow: hidden;*/
    margin-left: 30px;
    margin-top: 14px;
}

.header h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/index/logo.png");
    /*margin-left: 30px;*/
    /*margin-top: 14px;*/
}

.header .nav {
    width: 156px;
    height: 85px;
    position: fixed;
    right: 0;
    top: 0;
    /*z-index: 100;*/
}

.header .nav .nav-list {
    width: 72px;
    height: 20px;
    /*background-color: red;*/
    line-height: 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 44px;
    top: 33px;
    z-index: 100;
}

.header .nav .nav-list .icon-icon-more {
    /*color: #fff;*/
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.header .nav .nav-list:hover {
    color: red;
}


/*---侧边导航栏-----------------------*/
.header .nav .more-nav {
    position: fixed;
    width: 156px;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding-top: 90px;

    /*鼠标移进去才显示出来*/
    right: -156px;
    /*right: 0;*/
    z-index: 10;
}

.header .nav .more-nav ul {
    width: 100%;
    height: 100%;
}


.header .nav .more-nav li {
    width: 100%;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.header .nav .more-nav li a {
    display: inline-block;
    color: #c5c8d0;
    position: relative;
}

.header .nav .more-nav li:hover a {
    animation:  fontWax  0.5s;
    animation-fill-mode: forwards;
}

/*动画效果  当鼠标移到a标签是显示动画效果*/
@keyframes fontWax{
     0%{
        color: #c5c8d0;
        font-size: 16px;
    }

    50% {
    color: deeppink;
    font-size: 20px;
    }

    100% {
    color: #fff;
    font-size: 25px;
    }

}

/*--------------header 结束----------------------*/

/* ---------------整个页面 宽高---------------*/
.wrap {
    /*width: 1366px;*/
    width: 100%;
    /*height: 662px;*/
    overflow: hidden;
}

.wrap .page-wp {
    width: 100%;
    height: 100%;
}

/*换屏按钮的css代码-------*/
.wrap .page_btns {
    width: 14px;
    height: 14px;

    /*固定定位*/
    position: fixed;
    /*top: 47%;*/
    top: 240px;
    z-index: 8;
    transform: translateY(-50%);
    right: 38px;
}

.wrap .page_btns li {
    width: 8px;
    height: 8px;
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 25px;
    cursor: pointer;
}

.wrap .page_btns li.current {

    background-color: #fff;
    
}

.wrap .page_btns li:first {
    margin-top: 0;
}

/*换屏按钮的css代码   结束-------*/

/*反馈弹窗的css 代码*/
.feedback {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.4);
    /*反馈界面---隐藏*/
    display: none;
}

.pop-feedback {
    width: 683px;
    height: 461px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    text-align: center;
    transform: translate(-50%,-50%);
    background: url("../imgs/index/pop_bg.png") no-repeat center center;

}

.pop-feedback .pop-txt {
    width: 100%;
    height: 84px;
    line-height: 84px;
    font-size: 30px;
    /*color：;*/
    color: #fff;
}

.pop-feedback .pop-content {
    width: 100%;
    height: 239px;
    padding: 5px 0;
    /*background-color: red;*/
}

.pop-feedback .pop-content textarea {
    height: 100%;
    width: 625px;
    padding: 0 28px;
    /*background-color: rgba(0,0,0,.1);*/
    background: none;
    font-size: 24px;
    color: #8b9797;
    line-height: 30px;
    /*超出隐藏*/
    overflow-y: auto;
    /*resize  ： 规定可以由用户调整 div 元素的大小：*/
    resize: none;
}

.pop-feedback .pop_bot {
    width: 100%;
    height: 128px;
    position: relative;
}

.pop-feedback  .pop_bot  .submit {
    width: 360px;
    height: 60px;
    font-size: 24px;
    color: #fff;
    line-height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    cursor: default;
    background-color: #666;
}
/*提交后 拥有的样式------------*/
.pop-feedback  .pop_bot   .blue {
    background-color: #0f97ff;
    /*小手*/
    cursor: pointer;
}

/*关闭旋转功能*/
.pop-feedback>i.icon-cha {
    width: 30px;
    height: 30px;
    color: #838487;
    position: absolute;
    top: 30px;
    right: 26px;
    line-height: 30px;
    font-size: 26px;
    cursor: pointer;
    /*过渡效果*/
    transform: rotate(-1080deg);
    transition: all 1s;
}

.pop-feedback>i.icon-cha:hover {
    transform: rotate(180deg);
    transition: all 1s;
    color: red;
    /*width: 100px;*/
    /*animation:  cha  1s;*/
    /*animation-fill-mode: forwards;*/
}

/*动画效果  当鼠标移到a标签是显示动画效果*/
/*@keyframes cha  {*/
/*0 {*/
    /*color: #c5c8d0;*/
    /*/!*font-size: 16px;*!/*/
/*}*/

/*50% {*/
    /*color: deeppink;*/
    /*/!*font-size: 20px;*!/*/
/*}*/

/*100% {*/
    /*color: red;*/
    /*/!*font-size: 25px;*!/*/
/*}*/

/*}*/


/*---------------------反馈弹窗END-----------------*/

/* ---------------意见反馈成功START ---------------*/
.wrap .feedback-img {
    width: 455px;
    height: 156px;
    line-height: 156px;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
    background-color: red;
    background: url("../imgs/index/pop_tip.png") no-repeat center center;
    display: none;
}

.wrap .feedback-img .success-box {
    width: 100%;
    height: 44px;
    color: #dad8d7;
}

.wrap .feedback-img .success-box .icon-yes-copy {
    width: 35px;
    height: 44px;
    font-size: 35px;
    line-height: 60px;
    margin-left: 122px;
    margin-right: 18px;
    font-size: 35px;
}

.wrap .feedback-img .success-box  span{
    font-size: 28px;
}

/* ---------------反馈成功END ---------------*/

/*意见反馈按钮*/

.wrap .page-btn {
    width: 55px;
    height: 34px;
    line-height: 17px;
    font-size: 14px;
    position: fixed;
    right: 30px;
    cursor: pointer;
    bottom: 24px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #333;
    opacity: 0.6;
    z-index: 10;
}

.wrap .page-btn:hover {
    opacity: 1;
    border: 1px solid #000;
}


/*---------------首页 1 开始----------------*/
/*页面显示----*/
.wrap .page-wp .page-box {
    width: 100%;
    height: 100%;
    left: -9999px;
    position: absolute;
}

.wrap .page-wp div.page1 {
    /*width: 100%;*/
    height: 100%;
    left: 0;

}

.page1 .cont-box {
    width: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,0.3);
    /*background-color: red;*/
}

.page1  .big-box {
    height: 100%;
    /*display: none;*/

}

.page1 .bg-img{
    height: 100%;
}


.page1 .bg-img li:first-child {
    width: 100%;
    height: 100%;
    background: url(../imgs/index/page1-1.jpg) no-repeat center center;

}

/*背景视频-----------*/
.page1 .media-box {
    /*width: 1366px;*/
    width: 100%;

    /*height: 662px;*/
    /*background-color: red;*/
}

.page1 .media-box video {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
}

.page1 .content {
    width: 750px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: default;
}

/*letter-spacing 属性增加或减少字符间的空白(字符间距)。*/
.page1 .content  span {
    font-size: 90px;
    line-height: 100px;
    color: #fff;
    letter-spacing: 10px;

}

.page1 .content  span i {
    margin: 25px 20px 25px 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
}


/*加盒子阴影的开始*/
/*.page1 .content span:before {*/
    /*content: "";*/
    /*margin: -3px;*/
    /*z-index: 2;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*position: absolute;*/

    /*/!*box-shadow: h-shadow v-shadow blur spread color inset;*!/*/
    /*/!*red:FF0000*!/*/
    /*box-shadow: inset 0  0  50px #48D1CC ;*/
    /*animation: clipMe 4s linear infinite ;*/
/*}*/

/*.page1 .content span:after{*/
    /*content: "";*/
    /*margin: -3px;*/
    /*z-index: 2;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*position: absolute;*/

    /*/!*box-shadow: h-shadow v-shadow blur spread color inset;*!/*/
    /*/!*red:FF0000*!/*/
    /*box-shadow: inset 10px  10px  50px #FF0000 ;*/
    /*animation: clipMe 4s linear infinite ;*/
/*}*/


/*.page1 .content span:before {*/
    /*animation-delay: -2s;*/
/*}*/


/*加盒子阴影的结束*/

/*下一页的箭头  ---------------*/
.page1 .next-page {
    width: 38px;
    height: 38px;
    position: absolute;
    bottom:36px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

}
.page1 .next-page .icon-xia {
    color: #fff;
    font-size: 38px;
}

/*---------------------首页 1结束----------------------------*/

/*---------------------页面 2开始-------------------------------*/

.wrap .page-wp div.page2 {
    height: 100%;
}

/*-------子页面的切换  开始----------*/
.page2 .bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    /*display: none;*/
    background-size: cover ;
    left: 0;
    top: 0;
}

/*切换背景图*/
.page2 .bg-img:nth-child(1) {
    display: block;
    background: url("../imgs/index/page2-1.jpg");
}

.page2 .bg-img:nth-child(2) {
    background-image: url(../imgs/index/page2-2.jpg) ;


}
.page2 .bg-img:nth-child(3) {
    background-image: url(../imgs/index/page2-3.jpg)  ;

}
.page2 .bg-img:nth-child(4) {
    background-image: url(../imgs/index/page2-4.jpg)  ;

}

.page2 .content {
    width: 100%;
    height: 260px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
}

.page2 .content .text-link a {
    height: 33px;
    font-size: 33px;
    display: inline-block;
    line-height: 33px;
    color: #fff;

    /*加动画*/
    /*animation: animateDown 0.5s;*/
}

.page2 .content .text-link a:hover {
    /*animation: animateUp 0.5s;*/
    /*animation-fill-mode:forwards;*/

}

.page2 .content .text-link a i.icon-xiangyou {
    font-size: 17px	;
    line-height: 33px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: -5px;
}

.page2 .content .text-link a:hover i.icon-xiangyou {
    /*animation: moving 1s infinite alternate;*/
    /*font-size: 50px	;*/
}

/*
@keyframes moving {
    from {

        transform: translateX(0);
    }

    to {

        transform: translateX(300px);

    }
}

*/

.page2 .content .text-slogan {
    height: 100px;
    display: block;
    margin: 31px auto 36px;
    width: 760px;
    cursor: default;
    background: url(../imgs/index/carousel_txt.png);
    transform: scale(0.7);
}


/*------------第二页字体图片的内容-----------*/
.page2 .img2 .content .text-slogan {
    background-position: 0 100px;
}
.page2 .img3 .content .text-slogan {
    background-position: 0 201px;
}
.page2 .img4 .content .text-slogan {
    background-position: 0 305px;
}

.page2 .content .downloadBtn {
    width: 146px;
    height: 40px;
    border: 2px solid  hsla(0,0%,100%,.3);
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: rotate(-720deg);
    transition: all 1s;

    /*加动画*/
    /*animation: DAnimate 2s infinite;*/
}
/*.page2 .content .downloadBtn:hover {*/
    /*background-color:  rgba(255,255,255,.6);*/
/*}*/

/*---------------------------------------*/

.page2 .content .downloadBtn:hover {
    animation: border 2s;
    animation-fill-mode: forwards;


}
.page2 .content .downloadBtn:before {
    content: "";
    margin: -7px;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    /*red:FF0000*/
    box-shadow: inset 0  0  10px #48D1CC ;

    /*box-shadow: inset 0 0 0 2px;*/
    animation: clipMe 4s linear infinite ;
}

.page2 .content .downloadBtn:after{
    content: "";
    margin: -7px;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    /*red:FF0000*/

    box-shadow: inset 0  0  10px #FFFF00 ;



    animation: clipMe 4s linear infinite ;
}


.page2 .content .downloadBtn:before {
    animation-delay: -2s;
}

.page2 .content .downloadBtn i{
    width: 0px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: hsla(0,0%,100%,.3);

}

.page2 .content .downloadBtn:hover i{
    animation: width 1s;
    animation-fill-mode: forwards;
}
/*-----------------------------------------*/
/*立即下载   做动画*/

@keyframes DAnimate {
    0% {
        transform: translateZ(0px);
        font-size: 20px;
        /*color: red;*/
    }

    49% {
        transform: translateZ(2000px);
        font-size:30px;
        /*color: red;*/
    }

    /*50% {*/
    /*transform: translateZ(2000px) scale(0,0);*/
    /*font-size: 40px;*/
    /*/!*color: red;*!/*/
    /*}*/

    99% {
        transform: translateZ(0px) scale(0,0);
        font-size: 25px;
        color: hotpink;
    }

    100% {
        transform: translateZ(2000px) scale(0,0);
        font-size: 30px;
        /*color: pink;*/
    }

}
/*帅哥，点我呀呀  z坐标动画感的结束*/




.page2 .content .great {
    font-size: 15px;
    margin-top: 29px;
    color: #fff;
}
.page2 .content .great i {
    cursor: pointer;
     /*display: none;*/
}


.page2 .content .great i.icon-zan1 {

    position: relative;
     /*display: none;*/
}

/* -----二维码部分START------ */
.page-box .bg-img .content .qr {
    width: 206px;
    height: 239px;
    background-color: #fff;
    z-index: 10;
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.page-box .bg-img  .qr .txt-code{
    font-size: 18px;
    line-height: 28px;
    height: 28px;
    padding-top: 15px;
    color: #767676;
}

.page-box .bg-img  .qr .txt-tip{
    font-size: 14px;
    color: #9d9d9d;
    height: 24px;
    line-height: 24px;

}

.page-box .bg-img  .qr .qr-img {
    width: 142px;
    height: 142px;
    margin: 14px auto;

    background: url(../imgs/index/qr.png) no-repeat ;
    background-size: cover;

}
/* --------二维码部分END------- */


/* 需替换部分END */

.page2 .btn-wp  {
    width: 100%;
    height: 89px;
    position: absolute;
    bottom: 50px;
    z-index: 9;
}
.page2 .btn-box  {
    width: 352px;
    height: 88px;
    margin: 0 auto;
    position: relative;
}
.page2 .btn-box ul {
    width: 100%;
    height: 100%;

}
.page2 .btn-box ul li {
    float: left;
    width: 88px;
    height: 88px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.page2 .btn-box .underline {
    width: 88px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:  #fff;
    z-index: 10;
}
.page2 .btn-box ul li i {
    font-size: 32px;
    color: #fff;
    opacity: 0.4;
    position: absolute;
    left: 27px;
    top: 26px;
}


.page2 .btn-box ul li.current i {
    color:#fff;
    opacity: 1;
    /*background-color: red;*/
    top:25px;
}

/*盒子阴影的开始*/

.page2 .btn-box ul li.current:before {
    content: "";
    margin: -7px;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    /*red:FF0000*/
    box-shadow: inset 0  0  50px  #F4A460;

    /*box-shadow: inset 0 0 0 2px;*/
    animation: clipMe 4s linear infinite ;
}

.page2 .btn-box ul li.current:after{
    content: "";
    margin: -7px;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    /*red:FF0000*/
    box-shadow: inset 0  0 50px #EE82EE ;
    /*box-shadow: inset 0 0 0 2px;*/
    animation: clipMe 4s linear infinite ;
}


.page2 .btn-box ul li.current:before {
    animation-delay: -2s;
}


/*盒子阴影的结束*/




/*--------------- 页面2结束--------------- */




/*-------------------------------------页面三 四 五-------------------------------------------------*/



/*第三页的css*/
#page3 {
    width: 100%;
    height: 100%;
}
/*左边*/
#page3 #p3-left {
    width: 66%;
    height: 100%;
    float: left;
}

/*//迅雷影音的css*/
#p3-left-video {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
}
#p3-left-video>img {
    height: 100%;
}


/*//hover 事件的界面*/
/*1*/
.p3-left-inner .hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    left: 100%;
}
.p3-left-inner .hover .txt_link {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 82px;
}
.p3-left-inner .hover .txt_link a {
    color: #ffffff;
    font-weight: 300;
}
/*//link鼠标移入上移*/
.hover .txt_link a span{
    position: relative;
    transition: all 0.5s ease;
    animation: SAnimate 2s infinite;

}
.hover .txt_link a span:hover{
    top:-3px;
}


@keyframes SAnimate {
    0% {
        transform: translateZ(0px);
        font-size: 20px;
        /*color: red;*/
    }

    49% {
        transform: translateZ(2000px);
        font-size:30px;
        /*color: red;*/
    }

    /*50% {*/
    /*transform: translateZ(2000px) scale(0,0);*/
    /*font-size: 40px;*/
    /*/!*color: red;*!/*/
    /*}*/

    99% {
        transform: translateZ(0px) scale(0,0);
        font-size: 25px;
        color: hotpink;
    }

    100% {
        transform: translateZ(2000px) scale(0,0);
        font-size: 30px;
        /*color: pink;*/
    }

}
/*帅哥，点我呀呀  z坐标动画感的结束*/


/*2*/
.p3-left-inner .hover .txt_good {
    color: #f3f3f4;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
}
/*3*/
.p3-left-inner .hover .txt_download {
    width: 132px;
    height: 38px;
    border: 1px solid #848890;
    margin: 20px auto 0;
    color: #f2f3f4;
    line-height: 38px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}

/*4*/
.p3-left-inner .hover .txt_zan {
    text-align: center;
    color: #edeeef;
    font-size: 14px;
    font-weight: 300;
    margin-top: 18px;
}

.p3-left-inner .hover .txt_zan a {
    color: #edeeef;
}
/*左上迅雷影音结束   font没有导入*/


/*p3坐下游戏盒子css开始*/

#p3-left-game {
    width: 33%;
    height: 50%;
    background-color: red;
    position: absolute;
    overflow: hidden;
}
#p3-left-game img {
    /*margin-top: -2.5%;*/
    height: 100%;

}

/*p3左下游戏盒子css结束*/


/*p3左下网游加速器开始*/
#p3-left-fast {
    width: 33%;
    height: 50%;
    background-color: red;
    position: absolute;
    left: 33%;
    overflow: hidden;

}
#p3-left-fast img {
    /*margin-top: -2.5%;*/
    height: 100%;

}
/*p3左下网游加速器结束*/

/*左边结束*/

/*右边开始*/
#p3-right {
    width: 34%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

#p3-right .page-bg {
    width: 100%;
    height: 100%;

}


#p3-right .hover {
    width: 80%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    padding: 0 10%;
    left: 100%;
}


#p3-right .hover .txt_link {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 186px;
}

#p3-right .hover .txt_link a {
    color: #ffffff;
    font-weight: 300;
}


#p3-right .hover .txt_brief {
    color: #f3f3f4;
    font-size: 14px;
    text-align: center;
    margin-top: 23px;
    font-weight: 300;
    line-height: 28px;

}

#p3-right .hover .txt_download-pc {
    width: 132px;
    height: 38px;
    border: 1px solid #848890;
    margin: 30px auto 0;
    color: #f2f3f4;
    line-height: 38px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}

#p3-right .hover .txt_download-mobile {
    width: 132px;
    height: 38px;
    border: 1px solid #848890;
    margin: 10px auto 0;
    color: #f2f3f4;
    line-height: 38px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}


#p3-right .hover .txt_zan {
    text-align: center;
    color: #edeeef;
    font-size: 14px;
    font-weight: 300;
    margin-top: 18px;
}

#p3-right .hover .txt_zan a {
    color: #edeeef;
}
/*右边结束*/
/*p3结束*/


/*p4开始*/
#page4 {
    width: 100%;
    height: 100%;
}
#p4-left {
    width: 34%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
#p4-left .page-bg {
    width: 100%;
    /*margin-top: -12.5%;*/
    height: 100%;

}


#p4-left .hover {
    width: 80%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    padding: 0 10%;
    left: 100%;

}


#p4-left .hover .txt_link {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 186px;
}

#p4-left .hover .txt_link a {
    color: #ffffff;
    font-weight: 300;
}

#p4-left .hover .txt_brief {
    color: #f3f3f4;
    font-size: 14px;
    text-align: center;
    margin-top: 23px;
    font-weight: 300;
    line-height: 28px;

}

#p4-left .hover .txt_download-pc {
    width: 132px;
    height: 38px;
    border: 1px solid #848890;
    margin: 30px auto 0;
    color: #f2f3f4;
    line-height: 38px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}

#p4-left .hover .txt_download-mobile {
    width: 132px;
    height: 38px;
    border: 1px solid #848890;
    margin: 10px auto 0;
    color: #f2f3f4;
    line-height: 38px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}


#p4-left .hover .txt_zan {
    text-align: center;
    color: #edeeef;
    font-size: 14px;
    font-weight: 300;
    margin-top: 18px;
}

#p4-left .hover .txt_zan a {
    color: #edeeef;
}



/*右边css开始*/
#p4-right {
    width: 66%;
    height: 100%;
    float: left;
}

#p4-right #p4-right-zhiBo {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
}
#p4-right #p4-right-zhiBo .page-bg {
    height: 100%;

}

.p4-right-inner .hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    left: 100%;

}
.p4-right-inner .hover .txt_link {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 82px;
}
.p4-right-inner .hover .txt_link a {
    color: #ffffff;
    font-weight: 300;
}



/*2*/
.p4-right-inner .hover .txt_good {
    color: #f3f3f4;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
}
/*3*/
.p4-right-inner .hover .txt_download {
    width: 132px;
    height: 38px;
    border: 1px solid #848890;
    margin: 20px auto 0;
    color: #f2f3f4;
    line-height: 38px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}

/*4*/
.p4-right-inner .hover .txt_zan {
    text-align: center;
    color: #edeeef;
    font-size: 14px;
    font-weight: 300;
    margin-top: 18px;
}

.p4-right-inner .hover .txt_zan a {
    color: #edeeef;
}

/*第四页有料css开始*/

#p4-right-youLiao {
    width: 33%;
    height: 50%;
    position: absolute;
    overflow: hidden;
}
#p4-right-youLiao img {
    height: 100%;

}

/*第四页有料css结束*/

/*不如小游戏开始*/

#p4-right-smallGame{
    width: 33%;
    height: 50%;
    position: absolute;
    overflow: hidden;
    left: 67%;
}
#p4-right-smallGame img {
    height: 100%;

}
#p4-right-smallGame .hover .txt_guanZhu {
    width: 132px;
    height: 38px;
    border: 1px solid #86898a;
    margin : 20px auto 0;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    font-weight: 300;

}
#p4-right-smallGame .hover .txt_guanZhu a {
    width: 132px;
    height: 38px;
    display: block;
    color: #e5e5e5;
}


/*不如小游戏结束*/


/*右边css结束*/

/*p4结束*/

/*p5开始*/


#page5 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#page5 #p5-bg {
    width: 100%;
    height: 102.5%;
}
#page5 #p5-bg img {
    width: 100%;
    height: 100%;
}


#page5 .content {
    width: 100%;
    height: 100%;
    position: absolute;
}


#page5 .content .p5-xiaZaiBao  {

    width: 27%;
    height: 37%;
    position: absolute;
    top:  18%;
    left: 8.5%;

}



#page5 .content .p5-xiaZaiBao .txt_link{
    line-height: 34px;
    font-size: 34px;

}
#page5 .content .p5-xiaZaiBao .txt_link a {
    color: #e2e2e2;
    font-weight: 300;
}

#page5 .content .p5-xiaZaiBao .txt_price {
    line-height: 28px;
    font-size: 28px;
    margin-top: 13px;
    font-weight: 400;
    color: #e2e2e3;

}

#page5 .content .p5-xiaZaiBao .txt_brief {
    color: #dadbdb;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 6px;
}
#page5 .content .p5-xiaZaiBao .buy {
    width: 133px;
    height: 40px;
    background-color: rgb(18,148,246);
    margin-top: 8px;
}
#page5 .content .p5-xiaZaiBao .buy:hover{
    background-color: rgba(18,148,246,0.6);
}
#page5 .content .p5-xiaZaiBao .buy a {
    font-size: 15px;
    line-height: 40px;
    color: #fbfdff;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
}

#page5 .content .p5-xiaZaiBao .txt_zan {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    margin-top: 23px;
    color: #dadbdb;
}

#page5 .content .p5-xiaZaiBao .txt_zan a {
    color: #dadbdb;
}

/*下载宝结束*/

/*btnCSS开始*/

#page5 .content .btn_box {
    width: 379px;
    height: 62px;
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
}

#page5 .content .btn_box .btn {
    width: 60px;
    height: 60px;
    border: 1px solid #e7e6e6;
    display: inline-block;
    border-radius: 50%;
    margin-right: 40px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    color: #929090;
    position: relative;
}
#page5 .content .btn_box #weixin {
    margin-left: 0;
}

#page5 .content .btn_box #weixin div {
    width: 104px;
    height: 104px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: -108px;
    left: -22px;
    display: none;
}
#page5 .content .btn_box #weixin div img {
    width: 81.7%;
}
#page5 .content .btn_box #weixin div i {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
#page5 .content .btn_box #weixin img{
    margin: 10% auto 0;
    width: 80%;
}
#page5 .content .btn_box #yang {
    margin-right: 0;
}
#page5 .content .btn_box .iconfont {
    font-size: 30px;
    color: #838181;
}


/*btnCSS结束*/



/*bigLink开始*/

#page5 .content #big_link {
    position: absolute;
    bottom: 85px;
    font-size: 16px;
    line-height: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 662px;
}
#page5 .content #big_link a {
    color: #999999;

}
#page5 .content #big_link a:hover {
    text-decoration: underline solid #909090;

}
#page5 .content #big_link i {
    color: #999999;
    margin: 16px;
}

/*bigLink结束*/

/*small_link开始*/
#small_link{

    font-size: 12px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    /*margin-left: -16.5%;*/

}
#small_link a {
    color: #b2b2b2;
}
#small_link i {
    color: #b2b2b2;
    margin: 0 -1px 0 2px;
}
/*small_link结束*/



/*举报*/
#jubao {
    color: #b2b2b2;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    bottom: 44px;
    left: 50%;
    /*margin-left: -16.5%;*/
    transform: translateX(-50%);

}


/*更多more*/

#more {
    position: absolute;
    bottom: 5px;
    left: 50%;
    /*margin-left: -13.75%;*/
    transform: translateX(-50%);
    width: 392px;

}

#more li{
    width: 85px;
    height: 30px;
    border-width: 2px 1px;
    border-color: #c8c8c8;
    border-style: solid;
    float: left;
    margin-right:  11px;
}
#more .more {
    padding-top: 3px;
    display: block;
    width: 100%;
    height: 27px;
    position: relative;
}
#more #more1 {

    background: url("../imgs/index/safe_5.png") no-repeat -4px center;

}
#more p{
    color: #999999;
    text-align: right;
    width: 60px;
    height: 100%;
    position: absolute;
    right: 0;
}
#more p:hover {
    text-decoration: underline solid #909090;
}
#more #more2 {
    background: url("../imgs/index/safe_3.png") no-repeat -6px center;
}
#more #more2 p {

    text-align: center;

}
#more #more3 {
    background: url("../imgs/index/safe_4.png") no-repeat -3px center;
}
#more #more4 {
    background: url("../imgs/index/safe_2.png") no-repeat -6px center;
}
/*//所有的图片宽都设置为100%*/
/*补 */
/*img 的大小*/
.page-bg {
    width: 100%;
}
/*给所有的下载加一个样式*/
.txt_download a,.txt_download-mobile a,.txt_download-pc a {
    width: 132px;
    height: 38px;
    display: block;
    color: white;
}

.txt_download-mobile:hover,
.txt_download-pc:hover,
.txt_download:hover,
#p4-right-smallGame .hover .txt_guanZhu:hover{
    background-color: rgba(255,255,255,0.3);
}




/*p5结束*/





/*-----------------------------------------------------------*/
/*/!*新增p3-p4页面移入事件前的图标*/
/*所有的页面移入事件前div设置*/
.hoverNoIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    /*width: 100%;*/
}


/*/!*新增p3-p4页面移入事件前的图标*/
.hoverNoIcon .HNicon{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto 15px;
}
.hoverNoIcon .HNicon img {
    height: 72px;
}
.hoverNoIcon p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    animation: zAnimate 3s infinite;
}

/*单独控制帅哥*/
.hoverNoIcon #click {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;

    /**/
    /*animation: zAnimate 3s infinite;*/
}


.hoverNoIcon p i {
    margin-left: 5px;
}

/*帅哥，点我呀呀  z坐标动画感的开始*/


@keyframes zAnimate {
    0% {
        transform: translateZ(0px);
        font-size: 20px;
        /*color: red;*/
    }

    49% {
        transform: translateZ(2000px);
        font-size:30px;
        /*color: red;*/
    }

    /*50% {*/
        /*transform: translateZ(2000px) scale(0,0);*/
        /*font-size: 40px;*/
        /*/!*color: red;*!/*/
    /*}*/

    99% {
        transform: translateZ(0px) scale(0,0);
        font-size: 25px;
        color: #fff;
    }

    100% {
        transform: translateZ(2000px) scale(0,0);
        font-size: 30px;
        /*color: pink;*/
    }

}
/*帅哥，点我呀呀  z坐标动画感的结束*/


#p3-left-game .hoverNoIcon img {
    transform: translateX(-61px);
    height: 72px;
}

#p3-left-fast .hoverNoIcon img {
    transform: translateX(-125px);
    height: 72px;
}

#p3-right .hoverNoIcon img {
    transform: translateX(-216px);
    height: 60px;
}

#p4-left .hoverNoIcon img {
    transform: translateX(-614px);
    height: 60px;
}
#p4-right-zhiBo  .hoverNoIcon img {
    transform: translateX(-278px);
    height: 60px;
}
#p4-right-youLiao .hoverNoIcon img {
    transform: translateX(-520px);
    height: 57px;
}

#p4-right-smallGame .hoverNoIcon img {
    transform: translateX(-456px);
    height: 57px;
}










/*--------------------------------------页面三 四 五------------------------------------------------*/












/***************Animation动画 begin*************************/
@keyframes animatmbLeft{
    0% {
        transform:translateX(0);
    }
    100% {
        transform: translateX(-100%);

    }
}
/* animation: animatmbRight 1s ease-out; */
@keyframes animatmbRight{
    0% {
        transform:translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animateUp{
    0% {
        transform: translateY(0);

    }
    100% {
        transform: translateY(-5px);
    }

}
@keyframes animateDown{
    0% {
        transform: translateY(-5px);

    }
    100% {
        transform: translateY(0px);
    }

}







/* -----------------动画效果-------- */

/*@keyframes color {*/
/*0 {*/
    /*color:#c5c8d0;*/
    /*font-size: 	16px;*/

/*}*/

/*100% {*/
    /*color:#fff;*/
    /*font-size: 	17px;*/

/*}*/
/*}*/

@keyframes width {
0% {
    width:0;

}
100% {
    width:100%;
}
}
@keyframes circle{
0%{
    width : 0;
    height: 0;
}

100%{
    width : 140px;
    height: 140px;
}
}

@keyframes border{

0%{
    border: none;
}

100%{
    border: 2px solid #fff;
}
}
@keyframes clipMe {

    0%,100% {
        clip: rect(0px, 160.0px, 2px, 0px);
    }
    15% {
        clip: rect(0px, 1.0px, 2px, 0px);
    }
    16% {
        clip: rect(0px, 2px, 1.0px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 160.0px, 0px);
    }
    50% {
        clip: rect(52.0px, 160.0px, 54px, 0px);
    }
    65% {
        clip: rect(52.0px, 160.0px, 54px, 158px);
    }
    75% {
        clip: rect(0px, 160.0px, 54px,158px);
    }

}
/***************Animation动画 end*****************************/


