
* {
	margin: 0;
	padding: 0;


}
/* 边距为0 */

li {
	list-style: none;
}

a {
	text-decoration: none;
	color:  #000;
}
input {
	border: 0 none;
	outline: none;
}
img {
	border: 0 none;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
	font-weight: normal;
}

i,
em {
	font-style: normal;
}

body {
	min-height: 100%;
	min-width: 993px;
	font: 12px/100% "微软雅黑" ;
	background-color: #f0f3f5;
	/* 看背景色需求 */
	
}

div {
	display: block;
}

/* 单伪元素清除浮动 */
.clearfix::after {
	content: "." ;/* 兼容IE6以下版本 */
	height: 0;
	display: block;
	visibility: hidden;
	/* 隐藏内容 */
	clear: both;/* 清除浮动 */
}
.clearfix {
	*zoom: 1; /* 为了ie6,7兼容性执行上面的伪元素 */
}

/* /* /* 双伪元素清楚浮动 */
.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
/* 	触发BFC机制 */
}
.clearfix::after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}  